/* ========== Font Family ========== */
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Martel";
    src: url("../fonts/Martel-Regular.ttf");
}
@font-face {
    font-family: "PermanentMarker";
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

:root {
    --color-primary: #AAD08F;
    --color-secondary: #E0E0E0;
    --color-border: #999999;

    --color-orange: #f0b255;
    --color-green: #AAD08F;
    --color-red: #f58e6f;
    --color-grey: #666666;
}

body {
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 50px;
    background-color: var(--color-primary);
    box-shadow: #E0E0E0 0 0 10px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    color: #FFFFFF;
    z-index: 999;
}
.container {
    margin: 55px 10px;
}
.row {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.date {
    color: #999999;
    font-size: 22px;
    font-style: italic;
    font-family: Georgia;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}
.number-lg {
    font-family: Georgia;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
}
.desc-lg {
    color: #666666;
    font-size: 18px;
    font-family: Martel;
    margin-bottom: 15px;
}
.col-half {
    width: 50%;
}
.number {
    font-family: Georgia;
    font-size: 34px;
    color: #333333;
    margin-bottom: 5px;
}
.number.tight {
    margin-bottom: -10px;
}
.desc {
    color: #999999;
    font-size: 15px;
    font-family: Martel;
    margin-bottom: 15px;
}
.seperater-lg {
    margin: 20px auto;
    width: 90%;
    border-top: #F0F0F0 1px solid;
}
.seperater {
    display: inline-block;
    width: 50%;
    margin: 0;
    border-top: #F0F0F0 1px solid;
}
#chart {
    width: 85%;
    height: 200px;
    /* background-color: #F9F9F9; */
}
.nav {
    width: 100%;
    height: 60px;
    background-color: #F9F9F9;
    box-shadow: #E0E0E0 0 0 10px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: 999;
}
.nav-item {
    display: block;
    width: 50px;
    padding: 0 5px;
}
.nav-item span {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #666666;
    margin-top: -30px;
}
.nav-item.selected {
    background-color: var(--color-primary);
}
.nav-item.selected span {
    color: #FFFFFF;
}
.nav-item.center {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    background-color: #dee7d8;
    margin-top: -13px;
    padding: 0;
}
.nav-item.center img {
    margin-top: 8px;
}
.txt-green {
    color: var(--color-green);
}
.txt-red {
    color: var(--color-red);
}
.txt-grey {
    color: var(--color-grey);
}
.txt-orange {
    color: var(--color-orange);
}
.new-msg::before {
    content: "1";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--color-red);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    margin-left: 17px;
}

.model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.7);
    /* display: flex; */
    display: none;
    z-index: 999;
}
.model .model-panel {
    position: absolute;
    font-family: Martel;
    font-size: 12px;
    color: #333333;
    background-color: #FFFFFF;
    border: var(--color-border) 1px solid;
    padding: 10px;
}